*{
    margin: 0px;
    padding: 0px;
}

body{
	background : linear-gradient(65deg , #000000, #e3e3e3, #000000 );
    background-size: 400% 400%;
	-webkit-animation: Animation 20s ease infinite;
	-moz-animation: Animation 20s ease infinite;
	animation: Animation 20s ease infinite;
}


.header{
	background: linear-gradient(75deg , #000000, #650303 ,#5e056f );
	background-size: 400% 400%;
	border: 4px solid;
	border-color: #000000;
    text-align: center;
	padding-top: 10px;
    font-family: Georgia;
    font-size: large;
	width: 100%;
	top:0%;
	height:95px;
	-webkit-animation: Animation 20s ease infinite;
	-moz-animation: Animation 20s ease infinite;
	animation: Animation 20s ease infinite;
}
.footer {
	background : linear-gradient(75deg ,#000000, #650303 , #5e056f);
	background-size:400% 400% ;
	-moz-animation: Animation 20s ease infinite;
	animation: Animation 20s ease infinite;
	border: 4px solid;
	border-color: #000000;
	color:#000000;
	height: 65px;
	padding-top: 20px;
	font-size: large;
	text-align:center;
    position: fixed;
    bottom: 0;
	width: 99%;
}



#fondcool1{
	height: 480px;
	background-size:cover;
	display:flex;
	justify-content: center;
	align-items: center;
	
  }
.context {
	width: 60%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.505);
    border: 3px solid rgba(255, 255, 255, 0) ;
    border-radius: 20px;
	z-index: 1;
    
}

.area{
    background: #616160;  
    width: 70%;
    height: 400px;
}

.squares{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.squares li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #000000;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.squares li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.squares li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.squares li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.squares li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.squares li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.squares li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.squares li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.squares li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.squares li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.squares li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}


#BG1 {
	background: linear-gradient(85deg , #332e2e, #a30000 ,#5e056f );
    background-size: 400% 400%;
    animation: GradientAnimation 25s ease infinite;
}
#BG2 {
	background: linear-gradient(85deg, #5e056f , #291680 ,#332e2e );
    background-size: 400% 400%;
    animation: GradientAnimation 25s ease infinite;
}
.connexion{
	border : 4px solid #ffffff;
    text-align: center;
    width : 30%;
	color: rgb(255, 255, 255);
	display: flex;
  	justify-content: center;
  	align-items: center;
	background-color: #2b0a0a;
	
}
.connexion form{
	height: 85%;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 120%;

}
.inscription{
	border : 2px solid #000000;
    text-align: center;
	width : 30%;
	color: rgb(180, 180, 180);
	background-color: #170c46;
	display: flex;
  	justify-content: center;
  	align-items: center;
	
}

.inscription form {
	height: 70%;
	padding-bottom: 20px;
	padding-top: 15px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 110%;
}

button{
	border-radius: 25px;
	color : rgb(0, 0, 0);
	padding: 16px 32px;
	text-align:center;
	text-decoration: none;
	box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
	display:incline-block;
	font-size:16px;
	margin:4px 2px;
	transition-duration: 0.6s;
	cursor: pointer;
} 

.button1{
    background-color: rgb(255, 255, 255);
	color: black;
    border : 2px solid #2b0a0a;
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
}
.button2 {
    background-color: rgb(255, 255, 255);
	color: black;
    border : 2px solid #170c46;
	display: flex;
	align-items: flex-end;
	flex-direction: row-reverse;
}
.button3 {
    background-color: rgb(255, 255, 255);
	color: black;
    border : 2px solid #aaa;
}
.button_retour {
	background-color: rgb(255, 255, 255);
	color: black;
    border : 2px solid #000000;
}
.button1:hover{
    background-color: #2b0a0a;
	color: rgb(255, 255, 255);
    border : 2px solid #000000;
}
.button2:hover{
    background-color: #170c46;
	color: rgb(255, 255, 255);
    border : 2px solid #000000;
}
.button3:hover{
    background-color: #000000;
	color: rgb(255, 255, 255);
    border : 2px solid #000000;
}

.button_retour:hover {
    background-color: #5e056f;
	color: rgb(255, 255, 255);
    border : 2px solid #2b0a0a;
	display: flex;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	padding-top: 60px;
}

.modal-content {
	background: linear-gradient(75deg , #5e056f, #650303 ,#000000);
	margin: 5% auto;
	padding: 20px;
	border: 3px solid #000000;
	width: 65%;
	height: 60%;
	animation: pulse-animation 3.5s infinite;
}

.close {
	color: #ffffff;
	float:inline-end;
	padding-right: 17%;
	padding-top: 5%;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: rgb(255, 0, 0);
	text-decoration: none;
	cursor: pointer;
	
}

.parking-zone{
	background : linear-gradient(75deg , rgb(3, 148, 1), #76848f, #883998,#a30000 );
	background-size: 400% 400%;
	animation: GradientAnimation 5s ease infinite;
	border: 4px solid #000000; 
	border-radius: 10%;
	width : 90%;
	max-height: 600px;
	height: 545px;;
	color: rgb(0, 0, 0);
	padding-bottom: 40px;
}


table {
	border-collapse: collapse;
	height: 360px;
	width : 73%;
	border: 5px solid #000000;
	margin-top: 50px;
	padding: 20px;
	
}
th, td {
	border: 4px solid rgb(0, 0, 0);
	padding: 10px;
	text-align: center;
}
th {
	font-style: italic;
	color: rgb(255, 255, 255);
	background : linear-gradient(75deg , #2703c8, #5e056f, #000000 );
	background-size: 400% 400%;
	webkit-animation: Animation 20s ease infinite;
	-moz-animation: Animation 20s ease infinite;
	animation: Animation 20s ease infinite;
}

td {
	color:#000000;
}

tr {
	background-color: #f9f9f9;
}

.occupée {
	background-color: #a30000;
} 

.libre {
	background-color: rgb(3, 148, 1);
}

.En_travaux {
	background-color: #000000;
}


/* zone des animations */

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(0deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@-webkit-keyframes Animation {
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
  }
@-moz-keyframes Animation {
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
  }
@keyframes Animation { 
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
  }

@keyframes GradientAnimation { 
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
  }
@-webkit-keyframes GradientAnimation {
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
  }
@-moz-keyframes GradientAnimation {
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
  }

@keyframes pulse-animation {
	0% {
		box-shadow: 0 0 0 0px #ffffff8d;
	}100% {
		box-shadow: 0 0 0 60px #64014800;
	}
}